.free-games-logo {
    display: flex;
    justify-content: center;
}

.spin {
    display: flex;
    justify-content: center;
}

.pagination {
    margin-top: 20%;
}

.card-list {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 5vmax;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
    margin: 0 5vmax 0 5vmax;
}

.ant-select-multiple {
    min-width: 90vmax;
}

img {
    max-width: 60vmax;
}

.ant-pagination {
    display: flex;
    justify-content: center;
    margin: 10vmin;
    .ant-pagination-item, .ant-pagination-next, .ant-pagination-prev {
        background-color: grey;
    }
}

a {
    color: blue !important;
}

.anticon-double-left.ant-pagination-item-link-icon, .anticon-double-right.ant-pagination-item-link-icon {
    opacity: 0.5 !important;
    }